# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Pokemon.csv")

In [3]:
df.sample(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
567,508,Stoutland,Normal,NaN,500,85,110,90,45,90,80,5,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
517,466,Electivire,Electric,NaN,540,75,123,67,95,85,95,4,False
246,228,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [4]:
def hipothesis_check():
    try:
        for i in df:
            df["Total"]== sum("Attack", "Defence", "Sp. Atk", "Sp. Def, Speed")
    except:
        print ("Hipothesis break")

In [5]:
def hypothesis_check():
    try:
        total_sum = df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]
        if all(total_sum == df["Total"]):
            print("Hypothesis holds true") #Hypothesis: Total value is explained perfectly with all pokemon chars
        else:
            print("Hypothesis does not hold true") #Hypothesis: Total value is not entirely explained  with all pokemon chars
    except Exception as e:
        print("Hypothesis check failed with error:", e) #Hypothesis: Total value is independent of all pokemon chars

In [6]:
hypothesis_check()

Hypothesis does not hold true

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [7]:
df_combo = pd.concat([df["Type 1"], df["Type 2"]], axis=1)
df_one_hot_encoded = pd.get_dummies(df_combo).astype(int)
df_one_hot_encoded

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [8]:
dfcorrelation = pd.concat([df_one_hot_encoded, df["Total"]], axis=1)

In [9]:
dfcorrelation

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water,Total
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,318
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,405
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,525
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,625
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,700
797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,680
799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,600

In [10]:
correlation = dfcorrelation.corr()['Total'].drop('Total')

In [11]:
correlation

Type 1_Bug        -0.143957
Type 1_Dark        0.017818
Type 1_Dragon      0.196532
Type 1_Electric    0.016715
Type 1_Fairy      -0.026948
Type 1_Fighting   -0.029086
Type 1_Fire        0.050527
Type 1_Flying      0.029504
Type 1_Ghost       0.007594
Type 1_Grass      -0.036057
Type 1_Ground      0.004082
Type 1_Ice        -0.002412
Type 1_Normal     -0.104150
Type 1_Poison     -0.057123
Type 1_Psychic     0.094364
Type 1_Rock        0.037524
Type 1_Steel       0.082000
Type 1_Water      -0.015640
Type 2_Bug        -0.021375
Type 2_Dark        0.065844
Type 2_Dragon      0.115240
Type 2_Electric    0.014669
Type 2_Fairy      -0.024606
Type 2_Fighting    0.138726
Type 2_Fire        0.073234
Type 2_Flying      0.054048
Type 2_Ghost      -0.004885
Type 2_Grass      -0.039224
Type 2_Ground      0.016486
Type 2_Ice         0.100870
Type 2_Normal     -0.013956
Type 2_Poison     -0.067837
Type 2_Psychic     0.076054
Type 2_Rock       -0.000512
Type 2_Steel       0.070307
Type 2_Water      -0.018800
Name: Total, dtype: float64

In [12]:
rank_correlation = correlation.sort_values(ascending=False) #Reorganizing the correlations

In [13]:
rank_correlation

Type 1_Dragon      0.196532
Type 2_Fighting    0.138726
Type 2_Dragon      0.115240
Type 2_Ice         0.100870
Type 1_Psychic     0.094364
Type 1_Steel       0.082000
Type 2_Psychic     0.076054
Type 2_Fire        0.073234
Type 2_Steel       0.070307
Type 2_Dark        0.065844
Type 2_Flying      0.054048
Type 1_Fire        0.050527
Type 1_Rock        0.037524
Type 1_Flying      0.029504
Type 1_Dark        0.017818
Type 1_Electric    0.016715
Type 2_Ground      0.016486
Type 2_Electric    0.014669
Type 1_Ghost       0.007594
Type 1_Ground      0.004082
Type 2_Rock       -0.000512
Type 1_Ice        -0.002412
Type 2_Ghost      -0.004885
Type 2_Normal     -0.013956
Type 1_Water      -0.015640
Type 2_Water      -0.018800
Type 2_Bug        -0.021375
Type 2_Fairy      -0.024606
Type 1_Fairy      -0.026948
Type 1_Fighting   -0.029086
Type 1_Grass      -0.036057
Type 2_Grass      -0.039224
Type 1_Poison     -0.057123
Type 2_Poison     -0.067837
Type 1_Normal     -0.104150
Type 1_Bug        -0.143957
Name: Total, dtype: float64

In [22]:
dfrank = pd.DataFrame(rank_correlation)

In [23]:
dfrank #Df for the Bonus Question.

                    Total
Type 1_Dragon    0.196532
Type 2_Fighting  0.138726
Type 2_Dragon    0.115240
Type 2_Ice       0.100870
Type 1_Psychic   0.094364
Type 1_Steel     0.082000
Type 2_Psychic   0.076054
Type 2_Fire      0.073234
Type 2_Steel     0.070307
Type 2_Dark      0.065844
Type 2_Flying    0.054048
Type 1_Fire      0.050527
Type 1_Rock      0.037524
Type 1_Flying    0.029504
Type 1_Dark      0.017818
Type 1_Electric  0.016715
Type 2_Ground    0.016486
Type 2_Electric  0.014669
Type 1_Ghost     0.007594
Type 1_Ground    0.004082
Type 2_Rock     -0.000512
Type 1_Ice      -0.002412
Type 2_Ghost    -0.004885
Type 2_Normal   -0.013956
Type 1_Water    -0.015640
Type 2_Water    -0.018800
Type 2_Bug      -0.021375
Type 2_Fairy    -0.024606
Type 1_Fairy    -0.026948
Type 1_Fighting -0.029086
Type 1_Grass    -0.036057
Type 2_Grass    -0.039224
Type 1_Poison   -0.057123
Type 2_Poison   -0.067837
Type 1_Normal   -0.104150
Type 1_Bug      -0.143957

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [103]:
def top_types():
    type_1_df = dfrank[dfrank.index.str.startswith('Type 1')]
    type_2_df = dfrank[dfrank.index.str.startswith('Type 2')]
    top1 = type_1_df.loc[type_1_df.idxmax()]
    top2 = type_2_df.loc[type_2_df.idxmax()]
    tops = pd.concat([top1,top2], axis=0) 
    return tops

In [104]:
top_types()

                    Total
Type 1_Dragon    0.196532
Type 2_Fighting  0.138726